<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>My blog</title>
</head>

<body>
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">POST-O-BLOG</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/">HOME</a></li>
                <li id="signup"><a href="/signup">SIGN UP</a></li>
                <li id="signin"><a href="/signin">SIGN IN</a></li>
                <li id="contact"><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>