<%- include("partials/header"); -%>
    <div class="container home-body">
        <h2>About POST-O-BLOG</h2>
        <p class="post-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla cupiditate at nostrum officiis ipsa atque, dolor voluptatibus! Fugit odio voluptatum ea quam laudantium? Perferendis voluptatum temporibus, adipisci excepturi tempora laboriosam, animi quidem eius quod fugiat, eaque dolorum dolores a? Quibusdam incidunt maxime modi ratione saepe recusandae labore cumque commodi accusamus! Reiciendis sit quidem natus, doloremque explicabo id nam architecto rem accusantium, ipsum aperiam recusandae ducimus eligendi, ad dolor sed! Maxime nam minus amet in debitis. Quod in, ex dolorem error recusandae repudiandae asperiores excepturi deserunt ut consectetur quis expedita officia! Rem quasi at laborum alias nemo debitis, qui nesciunt tenetur?</p>
    </div>


    <%- include("partials/footer"); -%>