<%- include("partials/header"); -%>

<div class="container home-body">
    <div class="col-12 col-sm-6">
        <h3>Location Information</h3>
        <h5>Our Address</h5>
        <address style="font-size: 100%">
            121, Lorem Ipsum Doler Imet<br>
            Clear Water Bay, Kowloon<br>
            SOME PLACE<br>
            <i class="fa fa-phone"></i>: +91 1234 5678<br>
            <i class="fa fa-fax"></i>: +91 8765 4321<br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:posto@blog.net">posto@blog.net</a>
        </address>
        <br>
        <br>
        <h3>Contact</h3>
        <div class="btn-group" role="group">
            <a role="button" class="btn btn-primary" href="tel:+852 1234 5678"><i class="fa fa-phone"></i>
                Call</a>
            <a role="button" class="btn btn-success" href="#"><i class="fa fa-whatsapp"></i> Whatsapp</a>
            <a role="button" class="btn btn-info" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i>
                Email</a>
        
        </div>
    </div>

</div>


<%- include("partials/footer"); -%>