<%- include("partials/header"); -%>

    <main id="intro-content" class="container">
        <h1>Welcome To <span id="postoblog">POST-O-BLOG!</span>
        </h1>
        <p>See what people are writing and <a href="/signin">sign in</a> to share your own experiences, ideas and
            thoughts.
        </p>

    </main>

    <%- include("partials/footer"); -%>