<%- include("partials/header"); -%>

    <main id="intro-content" class="container my-2">
        <h1>Welcome To <span id="postoblog">POST-O-BLOG!</span>
        </h1>
        <h4>See what people are writing and <a href="/signin">sign in</a> to share your own experiences, ideas and
            thoughts.
        </h4>
    </main>
    <div class="container post-box my-2">
        <h2 class="post-title">POST TITLE</h2>
        <p class="post-para">This is a simple hero unit, a simple jumbotron-style component for calling extra
            attention to
            featured content or information. yahan pe aur bhi bahut kuch aayega tu kaahe chinta karata aahe aahe ...</p>
        <a class="rm-btn" href="#" role="button">Read more</a>
        </p>
    </div>




    <%- include("partials/footer"); -%>