<%- include("partials/header"); -%>

<div class="container home-body">
            <div class="sign card">
                <div class="card-body">
                    <h1 class="text-center">Sign In</h1>
                    <!-- Makes POST request to /login route -->
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Sign In</button>
                    </form>
                    <p class="text-center btn-or">OR</p>
                    <button class="btn btn-block btn-danger"><a href="/auth/google"><i class="fa fa-google"></i> Sign In
                            with Google </a></button>
                    <h5>Don't have an account? <a href="/signup">Sign Up</a> </h5>
                </div>
            </div>
</div>



<%- include("partials/footer"); -%>