<%- include("partials/header"); -%>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h1>Sign In</h1>
                    <!-- Makes POST request to /login route -->
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-block rm-btn">Sign In</button>
                    </form>
                    <p class="text-center btn-or">OR</p>
                    <div class="card social-block">
                        <a class="btn btn-block btn-social btn-google google-signup" href="/auth/google" role="button">
                            <i class="fab fa-google"></i>
                            Sign In with Google
                        </a>
                    </div>
                        <h5>Don't have an account? <a href="/signup">Sign Up</a> </h5>
                </div>
            </div>
            
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>