body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

a:hover{
  text-decoration: none;
}

/*---------Header------------*/

#postoblog-logo
{
  border-radius:0px;
  background:#ddd;
  padding:10px;
  font-size:17px;
}

/* logo or main heading */
#logo
{
  font-size:20px;
  font-weight:bolder;
  color:#00004d;
  letter-spacing:2px;
}

/* navigation links*/
#link a
{
  color:#01325d;
  margin:0 20px 0 10px;
  letter-spacing:1.5px;
}

.link1 a:hover
{
  color:#00004d;
  font-weight: 500;
}

/* navigation link with right border */
#first-link
{
  padding-right:6px;
  border-right:solid 1px #ccc;
}

/* sign up link button and toggle button */
#button-link ,#toogle-button
{
  color:#f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px;
  background-color: #0061a8;
  line-height: 17px;
}

#button-link a
{
  color:#f2f2f2;
}

#button-link:hover{
  color:#f2f2f2 ;
  background-color: #00004d;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent; 
}

.profile{
  padding-right:0px;
  border-right:solid 1px #ccc;
}

.d-inline{
  display: inline;
}

/*-----------Intro Heading----------*/
#intro-content {
  text-align: center;
}
#intro-content h1 {
  font-size: 3rem;
}
#postoblog {
  color: #0061a8;
}

/*-------------Post Card-------------*/
.post-box {
  background-color: #e6e6e6;
  padding: 2%;
  box-shadow: 2px 5px 14px #eeeeee;
  margin: 4rem 8rem;
}
.post-para {
  /* padding-bottom: 2%; */
  font-size: 1.8rem;
  /* line-height: 2rem; */
}

.post-title{
  text-decoration: none;
  color: black;
}

.card-body{
  padding: 0 4rem;
}
.card-subtitle a{
  color: #0061a8;
  text-decoration: none;
  font-size: 16px;
}

.rm-btn {
  display: block;
  width: fit-content;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  -webkit-box-shadow: 2px 3px 6px #a6a6a6;
  -moz-box-shadow: 2px 3px 6px #a6a6a6;
  box-shadow: 2px 3px 6px #a6a6a6;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #0061a8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0px;
}

.rm-btn:hover {
  text-decoration: none;
  color: #0061a8;
  background-color: #dddddd;
  border: 2px solid #0061a8;
  transition-duration: 0.3s;
}

.icon-large{
  font-size: 20px;
}

.like-btn{
  margin-top: 1%;
}

.liked{
  color: #0061a8;
}

.post-content{
  font-size: 16px;
}

.btn-danger>a {
  color: white;
}

.btn-or{
  margin: 5px;
}

.my-name{
  color: #0061a8;
}

.delete-btn{
  margin-top: 100px;
}

.markdown{
  border: #ddd 2px solid;
  padding: 20px;
  margin-top: 30px;
  background-color: #ddd;
}

.home-body{
  padding:0 0 5% 0;
}

/*---------Footer---------*/


.footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #0061a8;
  padding: 3rem;
  position: fixed;
  bottom: 0;
}

.footer p {
  font-size: 12px;
  color: #fff;
  padding-bottom: 0%;
}


.my-2 {
  margin-top: 2%;
}
